<h1>Partial 1</h1>
<div>
  Ea proident excepteur ex ullamco Lorem nisi magna sint ut dolor incididunt velit. Cupidatat ullamco officia nostrud dolore qui mollit velit ullamco fugiat. Ad tempor proident mollit nostrud elit pariatur quis enim. Reprehenderit ex sunt et in veniam irure nisi irure Lorem culpa pariatur nostrud eiusmod esse. Proident dolor consectetur cillum commodo do culpa occaecat est ad aliquip.
</div>

<div ng-controller="view1Controller">
  <ul>
    <li ng-repeat="sport in sports">
      {{ sport }}
    </li>
  </ul>
</div>