 <div id="main"  ng-controller="AssociationsController">
    <fieldset>
      <legend>Association</legend>
      <div id="top">
        <!--<input type="text" placeholder="Player" ng-model="newAssoc.player"> 
        <input type="text" placeholder="Team" ng-model="newAssoc.team">-->
        
        <select name="playerselect" id="playerselect" ng-model="playerselect">
          <option ng-repeat="player in players" value="{{ player}}">{{ player}}</option>
        </select>
        <select name="teamselect" id="teamselect" ng-model="teamselect">
          <option ng-repeat="team in teams" value="{{ team }}">{{ team }}</option>
        </select>
        <button ng-click="addAssignment()">Assign Player to Team</button>
      </div>
       <div class="bottom">
         <table>
          <thead>
            <th>
              <a href="" ng-clicK="orderByField = 'assign.team'; reverseSort = !reverseSort">
                Player
                <span ng-show="orderByField == 'assign.player' && !reverseSort">(desc)</span>
                <span ng-show="orderByField == 'assign.player' && reverseSort">(asc)</span>              
              </a>
            </th>
            <th>
              <a href="" ng-clicK="orderByField = 'assign.team'; reverseSort = !reverseSort">
                Team
                <span ng-show="orderByField == 'assign.team' && !reverseSort">(desc)</span>
                <span ng-show="orderByField == 'assign.team' && reverseSort">(asc)</span>              
              </a>
            </th>
            <th>Actions</th>
          </thead>
          <tbody>
            <tr ng-repeat="assign in assignments | orderBy:orderByField:reverseSort">
              <td>{{ assign.player }}</td>
              <td>{{ assign.team }}</td>
              <td><button ng-click="removeAssignment($index)">Clear Assignment</button></td>
            </tr>
          </tbody>
        </table>
    </fieldset>
  </div> 