 <div id="main"  ng-controller="PlayersController">
    <fieldset>
      <legend>Players</legend>
      <div id="top">
        <h2>Add New Player</h2>
        <form name="playerForm">
          <input type="text" name='name' placeholder="Player name" ng-model="newPlayer" ng-minlength='4' required> 
          <button ng-click="addPlayer()">Add Player</button>
        </form>
        <div class="alert" ng-messages="playerForm.name.$error">
          <p ng-message="minlength">The player name is too short.</p> 
          <p ng-message="required">The player name is required.</p>
        </div>
      </div>
       <div class="bottom">
        
        <table>
          <thead>
            <th>
              <a href="" ng-clicK="orderByField = 'player'; reverseSort = !reverseSort">
                Player Name
                <span ng-show="orderByField == 'player' && !reverseSort">(desc)</span>
                <span ng-show="orderByField == 'player' && reverseSort">(asc)</span>              
              </a>
            </th>
            <th>Actions</th>
          </thead>
          <tbody>
            <tr ng-repeat="player in players | orderBy:player:reverseSort">
              <td>{{ player }}</td>
              <td><button ng-click="removePlayer($index)">Remove Player</button></td>
            </tr>
          </tbody>
        </table>
    </fieldset>
  </div>   