 <div id="main"  ng-controller="TeamsController">
    <fieldset>
      <legend>Teams</legend>
      <div id="top">
        <h2>Add New Team</h2>
        <form name="teamForm">
          <input type="text" name="name" value="Team name" ng-model="newTeam" ng-minlength='4' required> 
          <button ng-click="addTeam()">Add Team</button>
        </form>
        <div class="alert" ng-messages="teamForm.name.$error">
          <p ng-message="minlength">The team name is too short.</p> 
          <p ng-message="required">The team name is required.</p>
        </div>
      </div>
       <div class="bottom">
        
        <table>
          <thead>
            <th>
              <a href="" ng-clicK="orderByField = 'team'; reverseSort = !reverseSort">
                Team Name
             </a>
            </th>
            <th>Actions</th>
          </thead>
          <tbody>
            <tr ng-repeat="team in teams track by $index">
              <td><a href="#/{{ team }}" ng-bind= 'team'></a></td>
              <td><button ng-click="removeTeam($index)">Remove Team</button></td>
            </tr>
          </tbody>
        </table>
    </fieldset>
  </div>   