<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cats and their Owners</title>
    <link rel="stylesheet" href="../stylesheets/style.css"/>
  </head>
  <body>
    <h1>Dangerous and Wild Cats</h1>
    <div>
        <img alt="cat1" src="../images/calvin001.jpg" />
        <img alt="cat2" src="../images/calvin002.jpg"  />
        <img alt="cat3" src="../images/calvin003.jpg"  />
    </div>
    <a href="/">Back</a>
  </body>
</html>
