<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cats and Cars</title>
    <link rel="stylesheet" href="../stylesheets/style.css"/>
  </head>
  <body>
    <h1>Calvin's Amazing Index Page!</h1>
    <p>
        See the wild and dangerous <a href="/cats">cats.</a><br />
        See the latest self-driving <a href="/cars">cars.</a><br />
        <a href="/new_cat">Add</a> a new cat.
    </p>
  </body>
</html>
