body {
  padding-top: 20px;
  text-align: center;
  color: white;
  background-color: black;
  font-size: 1.5rem;
  font-family: "Courier New", Courier, monospace;
}
#sign-text {
  font-family: cursive;
  color: black;
  position: absolute;
  font-size: 32px;
  left: 160px;
  top: 475px;
}

.left { float: left;}
.info { text-align: left; padding: 20px; }
img {
  margin: 20px;
  padding: 5px;
  border-radius: 15px;
  width: 400px;
  height: 400px;
}
form { margin: 0; border: none;  }
input { width: 300px; font-size: 1.1em; padding-left: 5px;  }
input[type=submit] {
  width: 307px;
  padding-top: 10px;
  padding-bottom: 10px;
  border:none;
  background-color: red;
  color: white;
}
input[type=submit]:hover { background-color: green; color:white; }
a { text-decoration: none; font-size: 1.4em; }

.round {
border-radius: 5px 40px 5px;
box-shadow: 3px 3px 1px darkgray;
}

/* unvisited link */
a:link {
    color: #FF0000;
}

/* visited link */
a:visited {
    color: #00FF00;
}

/* mouse over link */
a:hover {
    color: #FF00FF;
}

/* selected link */
a:active {
    color: #0000FF;
}
