<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>New Dojo</title>
    <link rel="stylesheet" href="../stylesheets/style.css"/>
  </head>
  <body>
    <h1>Add Dojo</h1>
    <form action="" method="post">
        <input type="text" name="name" placeholder="Dojo Name"/><br />
        <input type="text" name="city" placeholder="Dojo City"/><br />
        <input type="text" namew="description" placeholder="Dojo Description"/><br/>
        <input type="submit" value="Add New Dojo!" />
    </form>
    <a href="/">Back</a><br />
  </body>
</html>
