 <div id="main"  ng-controller="TeamsController">
    <fieldset>
      <legend>Teams</legend>
      <div id="top">
        <h2>Add New Team</h2>
        <input type="text" placeholder="Team name" ng-model="newTeam"> 
        <button ng-click="addTeam()">Add Team</button>
      </div>
       <div class="bottom">
        
        <table>
          <thead>
            <th>
              <a href="" ng-clicK="orderByField = 'team'; reverseSort = !reverseSort">
                Team Name
             </a>
            </th>
            <th>Actions</th>
          </thead>
          <tbody>
            <!-- passing information in the url as a param -->
            <tr ng-repeat="team in teams track by $index">
              <td><a href="#/{{ team }}" ng-bind= 'team'></a></td>
              <td><button ng-click="removeTeam($index)">Remove Team</button></td>
            </tr>
          </tbody>
        </table>
    </fieldset>
  </div>   